<div id="middle-part" class="d-flex justify-content-between flex-wrap" style="padding: 20px;">
    <div>
        <h1 for="courses">Course List</h1>
    </div>
    <div>
        <form #formData="ngForm" (ngSubmit)="submitForm(formData)" class="d-flex">
            <div >
                <input class="form-control" type="text" placeholder="Search your courses" name="searchText"
                    [(ngModel)]="searchText">
            </div>
            <div >
                <button type="submit" class="btn btn-secondary">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-between">
    <div *ngFor="let course of courseList">
        <div id="box" style="width: 300px; background-color: thistle; padding: 10px; border: 2px solid black; margin: 10px;">
            Course id : {{course.courseId}} <br/>
            Course Name : {{course.courseName}}  <br/>
            Description : {{course.description}}  <br/>
            Category : {{course.category}}  <br/>
            Fee : {{course.fee}}  <br/>
            Duration : {{course.duration}}  <br/>
            Rating : {{course.rating}}  <br/>
            Trainer id : {{course.trainerId}}  <br/>
            <button class="btn btn-sm btn-success">
                <i class="fa fa-edit"></i>
                Add To Cart
            </button>
        </div>
    </div>
</div>