<body style="background-color: thistle;">
    <div class="form-group"  class="text-center">
        <h1 for="courses">Course List</h1>
    </div>
    <div id="middle-part" class="d-flex justify-content-between flex-wrap" style="padding-top: 20px;">
        <div>
            <form #formData="ngForm" (ngSubmit)="submitForm(formData)" class="d-flex">
                <div style="position: absolute; left: 1100px">
                    <input class="form-control" type="text" placeholder="Search your courses" name="searchText" [(ngModel)]="searchText">
                </div>
                <div style="position: absolute; left: 1300px">
                    <button type="submit" class="btn btn-secondary">Search</button>
                </div>
            </form>
        </div>
    </div>
    <br/><br/><br/>
    <div class="container emp-profile">
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Courseid</th>
                        <th>Course name</th>
                        <th>Fee</th>
                        <th>Catagory</th>
                        <th>Actions</th> 
                    </tr>   
                </thead>
                <tbody>
                    <tr *ngFor="let course of courseList">
                        <td><span>{{course.courseId}}</span></td>
                        <td><span>{{course.courseName}}</span></td>
                        <td><span>{{course.fee}}</span></td>
                        <td><span>{{course.category}}</span></td>
                        <td>
                            <button class="btn btn-sm btn-success">
                                <i class="fa fa-edit"></i>
                                Add to cart
                            </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>         
    </div>
</body>
