<body style="background-color: rgb(192,192,192);">
    <div id="box1">
        <div class="form-group" class="text-center">
            <h1 for="updatecourse">Update Course</h1>
        </div>
    <form style=" padding: 20px; border-radius: 10px;">
        <div class="form-group">
            <label for="trainerId">Trainer Id</label>
            <input 
            type="text" 
            class="form-control" 
            id="tarinerId" 
            name="trainerId"
            placeholder="Enter Trainer Id"
            disabled>
        </div>
        <div class="form-group">
            <label for="courseId">Course Id</label>
            <input 
            type="text" 
            class="form-control" 
            id="courseId" 
            name="courseId"
            placeholder="Enter Course Id"
            disabled>
        </div>
        <div class="form-group" >
            <label for="courseName">Course Name</label>
            <input 
            type="text" 
            class="form-control" 
            id="courseName" 
            name="courseName"
            placeholder="Enter Course Name"
            required>
        </div>
        <div class="form-group">
            <label for="description">Course Description</label>
            <input 
            type="text" 
            class="form-control" 
            id="description" 
            name="description"
            placeholder="Enter Course Description"
            required>
        </div>
        <div class="form-group">
            <label for="category">Course Category</label>
            <input 
            type="text" 
            class="form-control" 
            id="category" 
            name="category"
            placeholder="Enter Course Category"
            required>
        </div>
        <div class="form-group">
            <label for="fee">Course Fee</label>
            <input 
            type="text" 
            class="form-control" 
            id="fee" 
            name="fee"
            placeholder="Enter Course Fee"
            required>
        </div>
        <div class="form-group">
            <label for="duration">Course Duration</label>
            <input 
            type="text" 
            class="form-control" 
            id="duration" 
            name="duration"
            placeholder="Enter Course Duratiuon"
            required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
    </body>
