backend/.settings/
backend/bin/
backend/target/
backend/.classpath
backend/.project
backend/src/main/resources/database.properties


frontend/dist
frontend/tmp
frontend/out-tsc
frontend/node_modules/
frontend/.idea
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
*.code-workspace


.settings/
.project