<div>
    <div class="container" style="padding: 40px; background-color: thistle;">
        <div class="col-md-4" class="text-center">
            <img src="../../assets/icon.jpg" alt="icon">
        </div>
        <div class="text-center" style="padding: 20px;">
            <h1 style="padding: 10px;">Welcome to E-Learning Platform</h1>
            <h3 style="padding: 10px;">Learn from the Experts</h3>
            <h5 style="padding: 10px;">Take the next step in your career with a world class learning experience.</h5>
            <p style="padding: 10px;">
                E-Learning platform firmly believes in disrupting and democratizing educational ecosystem by allowing anyone and everyone to learn.
            </p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" routerLink="/studentprofile">Go to Profile</button> &nbsp; &nbsp; &nbsp; 
            <button type="submit" class="btn btn-primary" routerLink="/courses">Get Started</button>
        </div>
    </div>
    <div class="container" style="padding: 40px;">
        <h1 class="text-center">Developers of the Project</h1>
        <div class="d-flex flex-wrap justify-content-between" style="padding: 20px;">
            <div id="box" style="width: 200px; padding: 10px; border: 2px solid black; margin: 10px; background-color: thistle;">
                <h3>Rishi Jagariya</h3>
                <h5>Team Leader</h5>
            </div>
            <div id="box" style="width: 200px; padding: 10px; border: 2px solid black; margin: 10px; background-color: thistle;">
                <h3>Ritika X</h3>
                <h5>Controller part</h5>
            </div>
            <div id="box" style="width: 200px; padding: 10px; border: 2px solid black; margin: 10px; background-color: thistle;">
                <h3>Roli Rai</h3>
                <h5>Model part</h5>
            </div>
            <div id="box" style="width: 200px; padding: 10px; border: 2px solid black; margin: 10px; background-color: thistle;">
                <h3>Rudresh Sunagad</h3>
                <h5>Dao part</h5>
            </div>
            <div id="box" style="width: 200px; padding: 10px; border: 2px solid black; margin: 10px; background-color: thistle;">
                <h3>Sagi Yaswanth</h3>
                <h5>Service part</h5>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 40px; background-color: thistle;">
        <h1 class="text-center">Contact Us</h1>
        <div id="middle-part" class="d-flex justify-content-between flex-wrap">
            <div>
                <h3>Address :</h3>
                <h5>No. 33, 2nd Floor, Sassoon Road,</h5>
                <h5>Opp. Jehangir Hospital,</h5>
                <h5>Police Colony, Swargate,</h5>
                <h5>Pune, Maharashtra 411001</h5>
            </div>
            <div>
                <h3>Phone No.</h3>
                <h5>020 2605 1192</h5>
                <h3>E-mail</h3>
                <h5><a href="mailto:abc@mphasis.com">abc@mphasis.com</a></h5>
            </div>
        </div>
    </div>
</div>
