<div class="main-container">
    <div class="ebor-page-wrapper">
        <a id="home" class="in-page-link" href="#"></a>
        <section
            class=" homepage light-wrapper normal-padding vc_row wpb_row vc_row-fluid homepage light-wrapper normal-padding vc_custom_1453131673274">
            <div class="container ">
                <div class="row ">
                    <div class="homepage wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid home-intro-text">
                                    <div class="wpb_column vc_column_container col-md-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="mx-auto"><img
                                                                width="135" height="150"
                                                                src="https://th.bing.com/th/id/OIP.wYYfMShSSwKlmNwyy2404QHaHa?w=185&h=193&c=5&o=3&dpr=0.7&pid=1.3"
                                                                class="vc_single_image-img attachment-full" alt="">
                                                        </div>
                                                    </figure>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h1 class="mb40 mb-xs-16 large" style="text-align: center;">
                                                            Welcome to E-Learning Platform</h1>
                                                        <p class="mb16" style="text-align: center;"><span
                                                                style="font-weight: 400;">E-Learning PLatfrom firmly
                                                                believes in disrupting and democratizing educational
                                                                ecosystem by allowing anyone and everyone to
                                                                learn</span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container col-md-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container col-md-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container col-md-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="vc_btn3-container vc_btn3-center"><a
                                                        class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-outline vc_btn3-block vc_btn3-color-white"
                                                        href="#" title="http://localhost:4200/Course">View Demo</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-32-mobile wpb_column vc_column_container col-md-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="vc_btn3-container  hero-button vc_btn3-center"><a
                                                        class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-flat vc_btn3-block vc_btn3-color-white"
                                                        href="http://localhost:4200/login" title="Courses">Courses</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container col-md-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container col-md-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container col-md-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div
                                                    class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                                                    <div
                                                        class="vc_icon_element-inner vc_icon_element-color-white vc_icon_element-size-xl vc_icon_element-style- vc_icon_element-background-color-grey">
                                                        <span class="vc_icon_element-icon fa fa-angle-down"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section
            class=" shadow light-wrapper normal-padding vc_row wpb_row vc_row-fluid shadow light-wrapper normal-padding">
            <div class="container ">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container col-md-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container col-md-8">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="text-align: center;">Open Source Online E-Learning
                                                            Platform</h3>
                                                        <h5 style="text-align: center;">E-Learning Platform courses,
                                                            which work on any device.</h5>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container col-md-2">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid v-align-children">
                                    <div class="wpb_column vc_column_container col-md-6">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <p><span style="font-weight: 400;">
                                                                Open Source Online E-Learning Platform design takes its
                                                                inspiration from responsive web design; an approach that
                                                                ensures a single version of a website or an e-learning
                                                                course can provide a viewing experience optimised for
                                                                different devices, from desktop to tablet to
                                                                smartphone.</span></p>
                                                    </div>
                                                </div>
                                                <div class="vc_btn3-container vc_btn3-inline"><a
                                                        class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-outline vc_btn3-color-turquoise"
                                                        href="http://localhost:4200/aboutus" title="">Find out more
                                                        about E-Learning Platform</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="top-32 wpb_column vc_column_container col-md-6 vc_hidden-sm vc_hidden-xs">
                                        <div class="vc_column-inner vc_custom_1453048375439">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                                width="551" height="357"
                                                                src="https://www.adaptlearning.org/wp-content/uploads/2015/11/home-image-01.jpg"
                                                                class="vc_single_image-img attachment-full" alt=""
                                                                srcset="https://www.adaptlearning.org/wp-content/uploads/2015/11/home-image-01.jpg 551w,https://www.adaptlearning.org/wp-content/uploads/2015/11/home-image-01-300x194.jpg 300w"
                                                                sizes="(max-width: 551px) 100vw, 551px"></div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="  light-wrapper normal-padding vc_row wpb_row vc_row-fluid light-wrapper normal-padding">
            <div class="container ">
                <div class="row ">
                    <div class="wpb_column vc_column_container col-md-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid people">
                                    <div class="wpb_column vc_column_container col-md-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="testimonials text-slider slider-arrow-controls text-center">
                                                    <ul class="slides">

                                                        <li>
                                                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                                Ea eius iure porro inventore impedit, magnam architecto
                                                                placeat nesciunt quidem in. Corporis inventore odio ex
                                                                consectetur distinctio, fugit dolore quis tempore?</p>
                                                            <div class="quote-author">
                                                                <img width="77" height="77"
                                                                    src="https://www.adaptlearning.org/wp-content/uploads/2016/01/John-Niezen.jpg"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt=""
                                                                    srcset="https://www.adaptlearning.org/wp-content/uploads/2016/01/John-Niezen.jpg 77w,https://www.adaptlearning.org/wp-content/uploads/2016/01/John-Niezen-60x60.jpg 60w"
                                                                    sizes="(max-width: 77px) 100vw, 77px">
                                                                <h6 class="uppercase">Rishi Jagariya</h6><span>Senior
                                                                    Training Instructor Home Appliances, LG
                                                                    Electronics</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                Deserunt sunt alias, nostrum sint vero iusto ipsam quae
                                                                nobis esse unde voluptates possimus nulla dolore!
                                                                Inventore quisquam qui laborum aut quod.</p>
                                                            <div class="quote-author">
                                                                <img width="77" height="77"
                                                                    src="https://www.adaptlearning.org/wp-content/uploads/2016/01/darren-hockley.jpg"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt=""
                                                                    srcset="https://www.adaptlearning.org/wp-content/uploads/2016/01/darren-hockley.jpg 77w,https://www.adaptlearning.org/wp-content/uploads/2016/01/darren-hockley-60x60.jpg 60w"
                                                                    sizes="(max-width: 77px) 100vw, 77px">
                                                                <h6 class="uppercase">Ritika x</h6><span>Managing
                                                                    Director, DeltaNet International</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p><span style="font-weight: 400;">“Lorem ipsum dolor sit
                                                                    amet consectetur, adipisicing elit. Ipsa vel minus
                                                                    vitae quasi est quam quis adipisci neque tenetur
                                                                    nobis fuga, cupiditate atque eum. Veritatis magnam
                                                                    architecto officiis dolorem sunt!</span></p>
                                                            <div class="quote-author">
                                                                <img width="77" height="77"
                                                                    src="https://www.adaptlearning.org/wp-content/uploads/2015/11/sam_cook-1.jpg"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt=""
                                                                    srcset="https://www.adaptlearning.org/wp-content/uploads/2015/11/sam_cook-1.jpg 77w,https://www.adaptlearning.org/wp-content/uploads/2015/11/sam_cook-1-60x60.jpg 60w"
                                                                    sizes="(max-width: 77px) 100vw, 77px">
                                                                <h6 class="uppercase">ROli Rai</h6><span>Head of
                                                                    Testing, Kineo</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p><span style="font-weight: 400;">Lorem ipsum dolor sit
                                                                    amet consectetur adipisicing elit. Cupiditate
                                                                    ducimus id, soluta praesentium itaque perspiciatis
                                                                    magnam harum delectus vel dignissimos ipsa dolor
                                                                    voluptas doloremque! Soluta quis perferendis
                                                                    recusandae ad qui.</span></p>
                                                            <div class="quote-author">
                                                                <img width="400" height="400"
                                                                    src="https://www.adaptlearning.org/wp-content/uploads/2016/01/sven_avatar.jpg"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt=""
                                                                    srcset="https://www.adaptlearning.org/wp-content/uploads/2016/01/sven_avatar.jpg 400w,https://www.adaptlearning.org/wp-content/uploads/2016/01/sven_avatar-150x150.jpg 150w,https://www.adaptlearning.org/wp-content/uploads/2016/01/sven_avatar-300x300.jpg 300w,https://www.adaptlearning.org/wp-content/uploads/2016/01/sven_avatar-60x60.jpg 60w"
                                                                    sizes="(max-width: 400px) 100vw, 400px">
                                                                <h6 class="uppercase">Rudresh Sunagad</h6><span>Adapt
                                                                    Project Lead</span>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                Iusto est deserunt ullam, iure quisquam, repellat id,
                                                                inventore vitae mollitia commodi ipsa esse. Dicta
                                                                architecto labore illo. Repudiandae explicabo mollitia
                                                                voluptatibus.</p>
                                                            <div class="quote-author">
                                                                <img width="163" height="163"
                                                                    src="https://www.adaptlearning.org/wp-content/uploads/2015/11/paul-mcelvaney.png"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt=""
                                                                    srcset="https://www.adaptlearning.org/wp-content/uploads/2015/11/paul-mcelvaney.png 163w,https://www.adaptlearning.org/wp-content/uploads/2015/11/paul-mcelvaney-150x150.png 150w,https://www.adaptlearning.org/wp-content/uploads/2015/11/paul-mcelvaney-60x60.png 60w"
                                                                    sizes="(max-width: 163px) 100vw, 163px">
                                                                <h6 class="uppercase">Sagi Yaswanth</h6><span>Chief
                                                                    Executive Officer, Learning Pool</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <footer class="footer-2 bg-dark pt0 pb40">
        <div class="container">

            <div class="row">
                <hr class="mt0 mb40">
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <a href="#">
                        <img alt="Adapt Learning" class="image-xxs fade-half"
                            src="https://www.adaptlearning.org/wp-content/uploads/2016/01/footer-logo.png">
                    </a>
                </div>

                <div class="col-sm-4 text-center">
                    <span class="fade-half">
                    </span>
                </div>

                <div class="col-sm-4 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <P><b>ADDRESS:</b> E-LEARNING PLATFORM,<br />
                                5th main, Near HDFC Bank,<br />
                                Vijay Nagar Bengaluru,<br />
                                Karnataka,560040.</P>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </footer>

</div>