<div style="background-color: thistle;">
<div class="container">
    <div id="top-part" class="row" style="padding-top: 50px ;">
        <div class="col-md-4">
            <img src="../../assets/user-profile.png" alt="" class="img-fluid rounded-circle" style="height:200px;">
        </div>
        <div class="col-md-6">
            <h4>
                Name : {{trainerData.fname}}  {{trainerData.lname}}
            </h4>
            <h4>
                Role : {{trainerData.userType}}
            </h4>
            <h4>About :  
                <small>
                    trainer to successfully understand the requirements of those that they train, developing a relationship is essential.
                </small>
            </h4>
            <h4>Phone no: <span style="font-size: 25px;">{{trainerData.phoneNo}}</span></h4>
        </div>  
    </div>
    <div id="middle-part" class="d-flex justify-content-between flex-wrap" style="padding-top: 20px;">
        <button type="button" routerLink="/addcourse" class="btn btn-secondary">+Add Course</button>
        <div>
            <!-- <form #formData="ngForm" (ngSubmit)="submitForm(formData)" class="d-flex">
                <input class="form-control" type="text" placeholder="Search your courses" name="searchText" [(ngModel)]="searchText">
                <button type="submit" class="btn btn-secondary">Search</button>
            </form> -->
        </div>
        <button type="button" (click)="logout()" class="btn btn-secondary">Logout</button>
    </div>

    <br /><br /><br />

    <div id="bottom-part" class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Course Id</th>
                    <th>Course Name</th>
                    <th>Fee</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courseList">
                    <td><span>{{course.courseId}}</span></td>
                    <td><span>{{course.courseName}}</span></td>
                    <td><span>{{course.fee}}</span></td>
                    <td><span>{{course.category}}</span></td>
                    <td>
                        <button class="btn btn-sm btn-warning" (click)="editCourse(course)">
                            <i class="fa fa-edit"></i>
                            Edit
                        </button> 
                            &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm btn-danger" (click)="deleteCourse(course.courseId)">
                            <i class="fa fa-remove"></i>
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>