<div id="main-box" class="d-flex">
    <div id="left-box" class="col-sm-0 col-md-4 col-lg-6 d-flex align-items-center justify-content-center"
      style="background-color: rgb(255, 255, 255); display:inline-block; height: 100vh;">
      <img src="../../assets/cutout-registerpage.png" style="width:70%;" />
    </div>
    <div id="right-box" class="col-sm-12 col-md-8 col-lg-6"
      style="background-color: rgb(255, 186, 172); display: inline-block; height: 100vh;">
      <div id="register-box" style="margin-top: 40px;">
        <h2 style="text-align: center; color: rgb(39, 39, 39); font-weight: bold;">Login</h2>
        <!-- {{userLoginInfo.userType}} {{userLoginInfo.username}} {{userLoginInfo.password}} -->
        <hr style="width: 65%; height: 1.5px;" class="mx-auto" />
        <div class="mx-auto" style="width: 70%;">
  
          <form style=" padding: 20px; border-radius: 10px;" #formData="ngForm" (ngSubmit)="submitForm(formData)">
            <div class="d-flex justify-content-between" style="width: 55%;">
              <label for="usertype" class="form-label fw-bold">User Type &nbsp; - </label>
              <div class="form-check">
                <label class="form-label">Trainer</label>
                <input class="form-check-input" name="usertype" type="radio" value="trainer" [(ngModel)]="userLoginInfo.userType"/>
              </div>
              <div class="form-check">
                <label class="form-label">Student</label>
                <input class="form-check-input" name="usertype" type="radio" value="student" checked [(ngModel)]="userLoginInfo.userType"/>
              </div>
            </div>
    
            <div class="" style="margin-top: 7px;">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" 
              required #usernameField="ngModel" [(ngModel)]="userLoginInfo.username">
              <small *ngIf="usernameField.invalid && usernameField.touched">Invalid Username</small>
            </div>
            
            <div class="form-group" style="margin-top: 7px;">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control"
                pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$_=]).{8,12}$" id="password" name="password"
                placeholder="Enter Password" #confrimPasswordField="ngModel"
                required [(ngModel)]="userLoginInfo.password">
              <small *ngIf="confrimPasswordField.invalid && confrimPasswordField.touched">Invalid Password</small>
            </div>
            <div class="d-flex justify-content-between" style="margin-top: 10px;">
              <button type="submit" class="btn btn-primary">Sign
                In</button>
              <p style = "margin-bottom: -10px;">Don't have an account ?</p>
              <a routerLink="/register" class="btn btn-outline-dark">Sign Up</a>
            </div>
          </form>
          <a routerLink="/forgotpassword" class="" style="text-decoration: none; margin-left: 20px; margin-bottom: 40px;">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>