<body style="background-color: rgb(192,192,192);">
<div id="box1">
    <div class="form-group" class="text-center">
        <label for="rfname">Register</label>
    </div>
<form style=" padding: 20px; border-radius: 10px;">
    <div class="form-group" >
        <label for="lfname">First Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="lfname" 
        placeholder="Enter First Name"
        required>
    </div>
    <div class="form-group">
        <label for="llname">Last Name</label>
        <input 
        type="text" 
        class="form-control" 
        id="llname" 
        placeholder="Enter Last Name"
        required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input 
      type="email" 
      class="form-control" 
      id="exampleInputEmail1"
      placeholder="Enter Email Address"
      required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input 
      type="password" 
      class="form-control" 
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      id="exampleInputPassword1" 
      placeholder="Enter Password"
      required>
      <small>Password Must be 8 character</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input 
        type="password" 
        class="form-control" 
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        id="exampleInputPassword1" 
        placeholder="Enter Confirm Password"
        required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Phone Number</label>
        <input 
        type="text" 
        class="form-control" 
        id="lphone" 
        placeholder="Enter Phone Number">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>