<body style="background-color: rgb(192,192,192);">
    <div id="box1">
        <div class="form-group" class="text-center">
            <h1 for="forgotpassword">Reset Password</h1>
        </div>
        <form style=" padding: 20px; border-radius: 10px;">
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                type="password" 
                class="form-control" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                id="password" 
                name="password"
                placeholder="Enter Password" 
                required>
                <small>Password must have 8 characters, one uppercase, one lowercase and one numeric</small>
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input 
                type="password" 
                class="form-control" 
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                id="confirmpassword" 
                name="confirmpassword" 
                placeholder="Enter Confirm Password" 
                required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Confirm</label>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</body>